server:
  port: 8080
spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/admin/**, /users/**, /events/**, /categories/**, /compilations/**

        - id: stats-server
          uri: lb://stats-server
          predicates:
            - Path=/hit, /stats/**