server:
  port: 8080
spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      discovery.locator.enabled: true
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/admin/**,/categories/**,/compilations/**,/events/**,/users/**,/requests/**,/subscriptions/**,/subscribers/**

        - id: stats-server
          uri: lb://stats-server
          predicates:
            - Path=/hit, /stats/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,metrics,configprops
  endpoint:
    gateway:
      enabled: true