spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:6541/stats-db
    username: stats-db
    password: stats-db
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.boot: INFO
    org.springframework.jdbc: DEBUG
    org.hibernate: INFO

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health

stats:
  client:
    service-name: STATS-SERVER